
<!-- Início do conteúdo -->
<div class="content-wrapper">
  <div class="container">

    <section class="content-header">
    </section>
    
    <section class="content">
      <p>
        2018 – Operação e Manutenção de Computadores-SENAC – 1200H (Cursando - 5º Módulo de Programação )
      </p>

      <p>
        2008- Informática Básica – Data Máster -1200 h – (Concluído)
      </p>

      <p>
        2011- Técnico de Mecânico industrial – Escola Técnica Sandra Silva – 1200H –(Concluído)
      </p>

      <p>
       2012- Carteira de Habilitação cátegoria (B)
      </p>
    </section>

  </div>
</div>
<!-- Fim do conteúdo -->