<!-- Início do conteúdo -->
<div class="content-wrapper">
    <div class="container">
  
      <section class="content-header">
      </section>
      
      <section class="content">
        <p>
            Inamon Instrumentação montagens e telecomunicações LTDA . 
            (TechnipFMC / Auxiliar de Montagem de Instrumentação )
            Admissão: 23/01/2014 – saída: 08/12/2016<br>
          
          
            Ivel indústria  de perfumaria e cosméticos LTDA. 
            (Skafe Cosméticos /Auxiliar de produção)
            Admissão: 01/05/2016 – Saída: 05/03/2017<br>

            
            ID Do Brasil Logística LTDA.
            (Depósito do Carrefour / Auxiliar Operacional)  
            Admissão: 14/09/2011 – Saída: 06/11/2017 <br>
             
            
        </p>
      </section>
  
    </div>
  </div>
  <!-- Fim do conteúdo -->
