<!-- Início do conteúdo -->
<div class="content-wrapper">
  <div class="container">

    <section class="content-header">
    </section>
    
    <section class="content">
      <div class="jumbotron welcome-jumbotron">
        <h1>Bem Vindo</h1>
        <p>
          Felipe Santos da costa
        </p>
        <p>   
          Rua Dona Maria Do Couto, Lt.06 Qd – D / Bairro Heliópolis
          Belford Roxo – Rio de Janeiro - RJ  
          CEP: 26140-400
          Tel.: (21) 98168-7796
                (21) 2184-1573
          E-mail: felipesantosdacosta@gmail.com <br>
          LinkedIn :felipesantosdacosta@gmail.com <br>
          Brasileiro, natural do Rio de Janeiro, solteiro, 26 anos.
          </p>
          
          <a class="btn btn-danger btn-lg" style="color: white">Curriculo</a>
      </div>
    </section>

  </div>
</div>
<!-- Fim do conteúdo -->